# Derived by the API Evangelist enrichment pipeline from BXP's own WordPress REST
# route-discovery document (https://www.bxp.com/wp-json/, HTTP 200, 2026-09-04).
# Nothing in this file was invented: every path, method, parameter, default and enum
# is a mechanical transform of that document. See openapi/boston-properties-wp-json-discovery.json
# for the verbatim source.
openapi: 3.1.0
info:
  title: BXP WordPress REST API (wp/v2)
  version: wp/v2
  description: The WordPress REST API namespace `wp/v2` as served by BXP (Boston Properties) at https://www.bxp.com/wp-json/.
    BXP publishes no first-party developer documentation for this surface; it is the stock WordPress content
    API exposed by the corporate site (WP Engine hosted). Every path, method and parameter in this document
    was mechanically derived from BXP's own route-discovery document at https://www.bxp.com/wp-json/ (HTTP
    200, 332 routes, fetched 2026-09-04). Nothing here was authored by hand. Anonymous reads were verified
    on /wp/v2/pages, /wp/v2/posts, /wp/v2/types, /wp/v2/categories, /wp/v2/search and /wp/v2/gl_js_maps;
    /wp/v2/settings returns 401 rest_forbidden. Write operations require authentication (WordPress application
    passwords or a cookie + X-WP-Nonce) and are not open to third parties.
  contact:
    name: BXP
    url: https://www.bxp.com/contact
  termsOfService: https://www.bxp.com/terms-of-service
externalDocs:
  description: Upstream WordPress REST API handbook (not authored by BXP)
  url: https://developer.wordpress.org/rest-api/
servers:
- url: https://www.bxp.com/wp-json
  description: BXP corporate site WordPress REST API
tags:
- name: block-directory
- name: block-patterns
- name: block-renderer
- name: block-types
- name: blocks
- name: categories
- name: comments
- name: font-collections
- name: font-families
- name: gl_js_maps
- name: global-styles
- name: icons
- name: index
- name: media
- name: menu-items
- name: menu-locations
- name: menus
- name: navigation
- name: pages
- name: pattern-directory
- name: plugins
- name: posts
- name: search
- name: settings
- name: sidebars
- name: statuses
- name: tags
- name: taxonomies
- name: template-parts
- name: templates
- name: themes
- name: types
- name: users
- name: widget-types
- name: widgets
- name: wp_pattern_category
paths:
  /wp/v2:
    get:
      operationId: getWpV2
      summary: GET /wp/v2
      tags:
      - index
      parameters:
      - name: context
        in: query
        required: false
        schema:
          default: view
      - name: namespace
        in: query
        required: false
        schema:
          default: wp/v2
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/block-directory/search:
    get:
      operationId: getWpV2BlockDirectorySearch
      summary: GET /wp/v2/block-directory/search
      tags:
      - block-directory
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: term
        in: query
        required: true
        schema:
          type: string
        description: Limit result set to blocks matching the search term.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/block-patterns/categories:
    get:
      operationId: getWpV2BlockPatternsCategories
      summary: GET /wp/v2/block-patterns/categories
      tags:
      - block-patterns
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/block-patterns/patterns:
    get:
      operationId: getWpV2BlockPatternsPatterns
      summary: GET /wp/v2/block-patterns/patterns
      tags:
      - block-patterns
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/block-renderer/{name}:
    parameters:
    - name: name
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlockRendererByName
      summary: GET /wp/v2/block-renderer/{name}
      tags:
      - block-renderer
      parameters:
      - name: attributes
        in: query
        required: false
        schema:
          type: object
          default: &id001 []
        description: Attributes for the block.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum: &id002
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: post_id
        in: query
        required: false
        schema:
          type: integer
        description: ID of the post context.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: createWpV2BlockRendererByName
      summary: POST /wp/v2/block-renderer/{name}
      tags:
      - block-renderer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                attributes:
                  type: object
                  default: *id001
                  description: Attributes for the block.
                context:
                  type: string
                  enum: *id002
                  default: view
                  description: Scope under which the request is made; determines fields present in response.
                post_id:
                  type: integer
                  description: ID of the post context.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/block-types:
    get:
      operationId: getWpV2BlockTypes
      summary: GET /wp/v2/block-types
      tags:
      - block-types
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: namespace
        in: query
        required: false
        schema:
          type: string
        description: Block namespace.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/block-types/{namespace}:
    parameters:
    - name: namespace
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlockTypesByNamespace
      summary: GET /wp/v2/block-types/{namespace}
      tags:
      - block-types
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/block-types/{namespace}/{name}:
    parameters:
    - name: namespace
      in: path
      required: true
      schema:
        type: string
    - name: name
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlockTypesByNamespaceByName
      summary: GET /wp/v2/block-types/{namespace}/{name}
      tags:
      - block-types
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/blocks:
    get:
      operationId: getWpV2Blocks
      summary: GET /wp/v2/blocks
      tags:
      - blocks
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - email_sent
            - email_failed
            - email_scheduled
            - any
        description: Limit result set to posts assigned one or more statuses.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: Limit result set based on relationship between multiple taxonomies.
      - name: wp_pattern_category
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the wp_pattern_category
          taxonomy.
      - name: wp_pattern_category_exclude
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the wp_pattern_category
          taxonomy.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: createWpV2Blocks
      summary: POST /wp/v2/blocks
      tags:
      - blocks
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/blocks/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksById
      summary: GET /wp/v2/blocks/{id}
      tags:
      - blocks
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: Override the default excerpt length.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: createWpV2BlocksById
      summary: POST /wp/v2/blocks/{id}
      tags:
      - blocks
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      security:
      - basicAuth: []
      - cookieNonce: []
    delete:
      operationId: deleteWpV2BlocksById
      summary: DELETE /wp/v2/blocks/{id}
      tags:
      - blocks
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: false
                  description: Whether to bypass Trash and force deletion.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/blocks/{id}/autosaves:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksByIdAutosaves
      summary: GET /wp/v2/blocks/{id}/autosaves
      tags:
      - blocks
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: The ID for the parent of the autosave.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: createWpV2BlocksByIdAutosaves
      summary: POST /wp/v2/blocks/{id}/autosaves
      tags:
      - blocks
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                parent:
                  type: integer
                  description: The ID for the parent of the autosave.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/blocks/{parent}/autosaves/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksByParentAutosavesById
      summary: GET /wp/v2/blocks/{parent}/autosaves/{id}
      tags:
      - blocks
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/blocks/{parent}/revisions:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksByParentRevisions
      summary: GET /wp/v2/blocks/{parent}/revisions
      tags:
      - blocks
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - date
          - id
          - include
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by object attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/blocks/{parent}/revisions/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksByParentRevisionsById
      summary: GET /wp/v2/blocks/{parent}/revisions/{id}
      tags:
      - blocks
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: deleteWpV2BlocksByParentRevisionsById
      summary: DELETE /wp/v2/blocks/{parent}/revisions/{id}
      tags:
      - blocks
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: false
                  description: Required to be true, as revisions do not support trashing.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/categories:
    get:
      operationId: getWpV2Categories
      summary: GET /wp/v2/categories
      tags:
      - categories
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: createWpV2Categories
      summary: POST /wp/v2/categories
      tags:
      - categories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                parent:
                  type: integer
                  description: The parent term ID.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
              required:
              - name
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/categories/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2CategoriesById
      summary: GET /wp/v2/categories/{id}
      tags:
      - categories
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: createWpV2CategoriesById
      summary: POST /wp/v2/categories/{id}
      tags:
      - categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                parent:
                  type: integer
                  description: The parent term ID.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      security:
      - basicAuth: []
      - cookieNonce: []
    delete:
      operationId: deleteWpV2CategoriesById
      summary: DELETE /wp/v2/categories/{id}
      tags:
      - categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: false
                  description: Required to be true, as terms do not support trashing.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/comments:
    get:
      operationId: getWpV2Comments
      summary: GET /wp/v2/comments
      tags:
      - comments
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to comments published after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to comments assigned to specific user IDs. Requires authorization.
      - name: author_email
        in: query
        required: false
        schema:
          type: string
          format: email
        description: Limit result set to that from a specific author email. Requires authorization.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes comments assigned to specific user IDs. Requires authorization.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to comments published before a given ISO8601 compliant date.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - date
          - date_gmt
          - id
          - include
          - post
          - parent
          - type
          default: date_gmt
        description: Sort collection by comment attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to comments of specific parent IDs.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific parent IDs.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: post
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to comments assigned to specific post IDs.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: status
        in: query
        required: false
        schema:
          type: string
          default: approve
        description: Limit result set to comments assigned a specific status. Requires authorization.
      - name: type
        in: query
        required: false
        schema:
          type: string
          default: comment
        description: Limit result set to comments assigned a specific type. Requires authorization.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: createWpV2Comments
      summary: POST /wp/v2/comments
      tags:
      - comments
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID of the user object, if author was a user.
                author_email:
                  type: string
                  format: email
                  description: Email address for the comment author.
                author_ip:
                  type: string
                  format: ip
                  description: IP address for the comment author.
                author_name:
                  type: string
                  description: Display name for the comment author.
                author_url:
                  type: string
                  format: uri
                  description: URL for the comment author.
                author_user_agent:
                  type: string
                  description: User agent for the comment author.
                content:
                  type: object
                  description: The content for the comment.
                date:
                  type: string
                  format: date-time
                  description: The date the comment was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the comment was published, as GMT.
                meta:
                  type: object
                  description: Meta fields.
                parent:
                  type: integer
                  default: 0
                  description: The ID for the parent of the comment.
                post:
                  type: integer
                  default: 0
                  description: The ID of the associated post object.
                status:
                  type: string
                  description: State of the comment.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/comments/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2CommentsById
      summary: GET /wp/v2/comments/{id}
      tags:
      - comments
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the parent post of the comment (if the post is password protected).
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: createWpV2CommentsById
      summary: POST /wp/v2/comments/{id}
      tags:
      - comments
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID of the user object, if author was a user.
                author_email:
                  type: string
                  format: email
                  description: Email address for the comment author.
                author_ip:
                  type: string
                  format: ip
                  description: IP address for the comment author.
                author_name:
                  type: string
                  description: Display name for the comment author.
                author_url:
                  type: string
                  format: uri
                  description: URL for the comment author.
                author_user_agent:
                  type: string
                  description: User agent for the comment author.
                content:
                  type: object
                  description: The content for the comment.
                date:
                  type: string
                  format: date-time
                  description: The date the comment was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the comment was published, as GMT.
                meta:
                  type: object
                  description: Meta fields.
                parent:
                  type: integer
                  description: The ID for the parent of the comment.
                post:
                  type: integer
                  description: The ID of the associated post object.
                status:
                  type: string
                  description: State of the comment.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      security:
      - basicAuth: []
      - cookieNonce: []
    delete:
      operationId: deleteWpV2CommentsById
      summary: DELETE /wp/v2/comments/{id}
      tags:
      - comments
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: false
                  description: Whether to bypass Trash and force deletion.
                password:
                  type: string
                  description: The password for the parent post of the comment (if the post is password
                    protected).
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/font-collections:
    get:
      operationId: getWpV2FontCollections
      summary: GET /wp/v2/font-collections
      tags:
      - font-collections
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/font-collections/{slug}:
    parameters:
    - name: slug
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2FontCollectionsBySlug
      summary: GET /wp/v2/font-collections/{slug}
      tags:
      - font-collections
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/font-families:
    get:
      operationId: getWpV2FontFamilies
      summary: GET /wp/v2/font-families
      tags:
      - font-families
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          default: id
        description: Sort collection by post attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: createWpV2FontFamilies
      summary: POST /wp/v2/font-families
      tags:
      - font-families
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                font_family_settings:
                  type: string
                  description: font-family declaration in theme.json format, encoded as a string.
                theme_json_version:
                  type: integer
                  default: 3
                  minimum: 2
                  maximum: 3
                  description: Version of the theme.json schema used for the typography settings.
              required:
              - font_family_settings
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      security:
      - basicAuth: []
      - cookieNonce: []
  /wp/v2/font-families/{font_family_id}/font-faces:
    parameters:
    - name: font_family_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2FontFamiliesByFontFamilyIdFontFaces
      summary: GET /wp/v2/font-families/{font_family_id}/font-faces
      tags:
      - font-families
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          default: id
        description: Sort collection by post attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
[...]
